include desktop/*.desktop
include ui/*.png ui/*.glade
include scripts/webilder_downloader scripts/kwebilder scripts/WebilderApplet scripts/wbz_handler
include servers/*.in src/*.in
include ChangeLog COPYING AUTHORS

