Source: webilder
Section: graphics
Priority: optional
Maintainer: Nadav Samet <thesamet@gmail.com>
Build-Depends: cdbs, perl, python (>=2.4), python-support, debhelper (>= 7.0.50~), python-setuptools (>=0.6), python-gtk2, python-gnome2
Standards-Version: 3.9.1
Homepage: http://www.webilder.org/
Vcs-Git: git://github.com/thesamet/webilder.git
Vcs-Browser: https://github.com/thesamet/webilder

Package: webilder
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-gtk2, python-glade2, python-imaging, python-gnome2, libglib2.0-0, python-gnomedesktop, python-setuptools (>=0.6), python-appindicator
Description: wallpaper downloader and rotator that uses Flickr and Webshots
 Webilder enables you to download photos from Webshots and Flickr into your
 photo collection. The package includes a GNOME panel applet that can notify
 you whenever new daily photos are ready to be downloaded.
