#!/usr/bin/make -f
# -*- makefile -*-

DEB_PYTHON_SYSTEM              := pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

build/webilder::
	pod2man --section=1  --release=$(VERSION) --center "" manpages/webilder_desktop.pod > manpages/webilder_desktop.1
	pod2man --section=1  --release=$(VERSION) --center "" manpages/webilder_downloader.pod > manpages/webilder_downloader.1
	pod2man --section=1  --release=$(VERSION) --center "" manpages/wbz_handler.pod > manpages/wbz_handler.1
	pod2man --section=1  --release=$(VERSION) --center "" manpages/WebilderApplet.pod > manpages/WebilderApplet.1

cleanbuilddir/webilder::
	rm -f manpages/*.1

DEB_INSTALL_MANPAGES_webilder = manpages/webilder_desktop.1 \
				manpages/webilder_downloader.1 \
				manpages/wbz_handler.1 \
				manpages/WebilderApplet.1
