[Desktop Entry]
Name=KWebilder
Comment=Automatically downloads and change wallpapers
Comment[fr]=Télécharge et change automatiquement des fonds d'écrans
Comment[it]=Scarica e imposta come sfondo le foto da Flickr e Webshots

Encoding=UTF-8

Type=Application
Categories=Application;Graphics;

Exec=kwebilder
TryExec=kwebilder
Terminal=false
Icon=webilder

