[Desktop Entry]
Name=Webilder Indicator Applet
Comment=Webilder indicator applet
GenericName=Webilder
Type=Application
Categories=Application;Graphics;
Exec=webilder_unity_indicator
Terminal=false
Icon=camera48.png
